

/* Absolute */


div{
    position: absolute;
    padding: 50px;
    border: 2px solid black;
    box-sizing: border-box;
}
.lightblue{
    background-color: rgb(129, 171, 248);
}
div.absolute{
    top:70px;
    left:70px;
    padding: 179px;
}
#green{
    background-color: yellowgreen;
    top:50px;
    left:50px;
}
#blue{
    background-color: rgba(74, 51, 224, 0.712);
    top:50px;
    left:204px;
}
#chocolat{
    background-color: chocolate;
    top:204px;
    left:50px;
}
#yellow{
    background-color: gold;
    top:204px;
    left:204px;
}


/* Relative */


div.relative,div.relative>div{
    position: relative;
    width: 100px;
}
div.relative{
    left: 60px;
    padding: 50px;
    width: 362px;
    height: 362px;
}
.relative>#green{
    top:0px;
    left:0px;
}
.relative>#blue{
    top: -104px;
    left:154px;
}
.relative>#chocolat{
    top:-54px;
    left:0px;
}
.relative>#yellow{
    top: -158px;
    left:154px;
}